# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspacedata
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.xcconfig

# Dev files
kRho6.jpg
UsOxk.jpg
